* {
	box-sizing: border-box;
}

.content {
	position: relative;
}

.content_holder {
	margin-top: 10px;
}

p {
	background-color: #848484;
	width: 100%;
	height: 150px;
	font-family: Helvetica;
	color: white;
	margin: 0px;
	padding: 40px 10px 10px;
}

.title {
	height: 30px;
    text-align: center;
    width: 100px;
    position: absolute;
    right: -1px;
    line-height: 27px;
    top: -1px;
    border: 1px solid black;
    background-color: #D59898;
}

.beef .title {
	background-color: #C14543;
}

.sushi .title {
	background-color: #E591D8;
}

.text {
	margin-left: auto;
	margin-right: auto;
	width: 6em
}
h1 {
	margin-bottom: 15px;
	text-align: center;
}

@media (min-width: 992px) {
	.content_holder {
		width: 33.3%;
		float: left;
		padding-right: 10px
	}
	
	.content {
		border: 1px solid black;
	}
}
@media (min-width: 768px) and (max-width: 991px) {

	.chicken {
		width: 50%;
		float: left;
		padding-right: 10px;
	}
	
	.beef {
		width: 50%;
		float: right;
	}

	.sushi {
		width: 100%;
		float: left;
		margin-top: 10px;
	}
	
	.content {
		border: 1px solid black;
	}
}

@media (min-width: 0px) and (max-width: 767px)
{
	.content_holder{
		
  border: 1px solid black;
  
  height: 150px;
  
  
  font-family: Helvetica;
	}
	.content {
		border: 1px solid black;
	}
	.chicken{

	}
	.beef
	{

	}

	.sushi{

	}
}